html {
  height: 100% !important;
}

.search__nav {
  .logo__musicDegree {
    width: 30px;
  }
  .add__logo {
    width: 30px;
    fill: #28a745;
  }
}

.left__menu {
  min-height: 100vh;
  .nav-pills .nav-link.active {
    background-color: #28a745 !important;
    color: black !important;
  }
  .nav-pills .nav-link {
    color: black !important;
  }
  .icon__label {
    width: 25px;
    filter: black;
  }
  .link__leftmenu a{
    color: black;
    text-decoration: none;
  }
}
