html,
body {
  height: 100vh !important;
  font-family: "Indie Flower", cursive !important;
}

.search__nav {
  font-family: "Indie Flower", cursive !important;

  .logo__musicDegree {
    width: 30px;
  }

  .add__logo {
    width: 30px;
    fill: #28a745;
  }
}

.left__menu {
  min-height: 100vh;
  font-family: "Indie Flower", cursive;

  .nav-pills .nav-link.active {
    background-color: #343a40;
    border: 1px solid #28a745 !important;

    .icon__label {
      fill: #28a745 !important;
    }
  }

  .icon__label {
    width: 25px;
    fill: black;
  }

  .link__leftmenu a {
    color: black;

    text-decoration: none;
  }

  .nav-pills .nav-link.active a {
    color: #28a745;
    text-decoration: none;
  }
}

.new__sheet {
  width: 100%;
  border: 1px solid #28a745 !important;
  background-color: #343a40;
  min-height: 100vh !important;
  font-family: "Indie Flower", cursive;
  box-sizing: content-box;

  .key__column {
    outline: none;
    border: 1px solid #28a745 !important;
    border-radius: 0.25rem;
    padding: 1vh;
    box-sizing: content-box;

    .button__keyDeg {
      width: rem;
      border: 1px solid black !important;
      background-color: #28a745;
    }

    .button__chords {
      border: 1px solid black !important;
      background-color: #28a745;
    }
  }
}

.view {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;

  .supsub {
    position: absolute;
  }

  .subscript {
    display: block;
    position: relative;
    left: 2px;
    top: 20px;
  }

  .superscript {
    display: block;
    position: relative;
    left: -1px;
    top: 5px;
  }
}
